# MySQL Configuration
# Copy this file to .env and update with your values

# MySQL Root Password
MYSQL_ROOT_PASSWORD=Info2026/*-

# MySQL Database Name
MYSQL_DATABASE=fixlife_db

# MySQL Application User
MYSQL_USER=root

# MySQL Application Password
MYSQL_PASSWORD=Info2026/*-

EMAIL_USER=fixlifeworks@gmail.com
EMAIL_PASS=annk vbyh ppne ssfy

# Frontend / Vite
VITE_API_URL=http://localhost:8000
VITE_TOMTOM_TRAFFIC_KEY=
